<p>home-page works!</p>
<router-outlet></router-outlet>
<pre>
<b>Product Id</b>
{{selectProductId$ | async | json}}
<b>All router params</b>
{{selectAllRouterParams$ | async | json}}
<b>Router Object</b>
{{selectRouter$ | async | json}}
<b>Current Route</b>
{{currentRoute$ | async | json}}
<b>Query params</b>
{{queryParams$ | async | json}}
<b>selectRouteParams</b>
{{selectRouteParams$ | async | json}}
<b>selectRouteData</b>
{{selectRouteData$ | async | json}}
<b>selectQueryName</b>
{{selectQueryName$ | async | json}}
</pre>
